<li>
	{{name}}

	<button class="change-seen" data-id="{{id}}" data-newseen="{{seen}}">
		{{#if seen}}WATCHED IT!{{else}}WATCH IT AGAIN!{{/if}}
	</button>

	<button class="delete-moviesTv" data-id="{{this.id}}">DELETE!</button>
</li>